* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
	background-color: #16365D;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	width: 98%;
	margin: auto;
	font: 400 1em 'Roboto Condensed', sans-serif;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/****************************** Navigation ******************************/
body.mmactive {
	overflow: hidden;
}

.mobile_menu {
	display: none;
	position: relative;
}

.sm_menu_outer.active .mobile_menu {
	display: block;
}

/* nav background */
.sm_menu_outer {
	height: calc(100vh);
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	opacity: 0;
	background-color: #16365D;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

/* nav order */
.sm_menu_outer.active {
	opacity: 1;
	z-index: 999;
}

/* nav text */
.sm_menu_outer .mobile_menu a {
	display: block;
	padding-top: 15%;
	text-transform: uppercase;
}

/* nav background */
#sm_menu_ham {
	cursor: pointer;
	height: 5%;
	position: fixed;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	width: 60px;
	background-color: #16365D;
	top: 3%;
	left: 2%;
	z-index: 9999;
}

/* lines of hamburger nav */
#sm_menu_ham span {
	background-color: #FFFFFF;
	border-radius: 5px;
	display: block;
	height: 2px;
	left: 30%;
	opacity: 1;
	position: absolute;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.25s ease-in-out 0s;
	-moz-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;
	width: 30px;
}

#sm_menu_ham span:nth-child(1) {
	top: 20%;
}

#sm_menu_ham span:nth-child(2),
#sm_menu_ham span:nth-child(3) {
	top: 40%;
}

#sm_menu_ham span:nth-child(4) {
	top: 60%;
}

#sm_menu_ham.open span:nth-child(1) {
	left: 50%;
	top: 18px;
	width: 0;
}

#sm_menu_ham.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

#sm_menu_ham.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#sm_menu_ham.open span:nth-child(4) {
	left: 50%;
	top: 18px;
	width: 0;
}

/****************************** Column 1 (business info) ******************************/
header main {
	width: auto 0;
	height: 100vh;
}

header img {
	margin-top: 25%;
	width: 100%;
}

header > p:first-of-type, .menuItem {
	padding-top: 5%;
	text-align: center;
	font: italic 300 1em 'Roboto Condensed', sans-serif;
	color: #FFFFFF;
}

h2, .mobile_menu a  {
	font: 500 2em 'Trirong', serif;
	color: white;
	text-align: center;
	padding-top: 5%;
	letter-spacing: 0.1em;
	list-style: none;
}


h3, #contactinfo {
	text-align: center;
	font: 300 1.5em 'Roboto Condensed', sans-serif;
	color: #FFF200;
	letter-spacing: 0.1em;
}

.finePrint {
	font: 400 0.75em 'Trirong', serif;
	color: white;
	text-align: center;
}

a {
	text-decoration: none;
}

#contactinfo {
	padding: 25% 0 25% 0;
}

/***** Phone number *****/
#contactinfo :first-of-type {
	font: 700 1.25em 'Roboto Condensed', sans-serif;
	padding-bottom: 2%;
	letter-spacing: 0.1em;
	color: #FFF200;
}

/***** White Separators *****/
#hours::before, #hours::after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 80%;
	padding: 3%;
	border-bottom: 0.25px solid white;
}

#hours p:first-of-type {
	padding-top: 8%;
}

#hours :not(.sideNote) {
	text-align: center;
	font: 300 1.5em 'Roboto Condensed', sans-serif;
	color: white;
	letter-spacing: 0.05em;
}

.sideNote {
	text-decoration: none;
	text-align: center;
	padding: 5% 0 5% 0;
	color: #FFF200;
	font-size: 0.875em;
}


/****************************** End Column 1 (business info) ******************************/

/****************************** Menu/Column 2 Start ******************************/
.menuGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menuItem {
	flex: 100%;
	max-width: 100%;
	padding: 2%;
}

.menuItem img {
	width: 100%;
}

.menuItem p {
	font-size: 1.5em;
}

.menuItem p:first-of-type {
	font-weight: 700;
}

.featured {
	color: #FFF200;
}

.extras {
	background-color: #FFF200;
	color: #16365D;
	margin: 2% 0;
}

/****************************** End Menu/Column 2  ******************************/

/****************************** Specials Start ******************************/
aside {
	margin-top: 3%;
}

aside::before, aside::after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 80%;
	padding: 5%;
	border-bottom: 0.25px solid white;
}

aside ul {
	color: white;
	font-weight: 300;
	font-size: 1.25em;
	text-align: center;
	list-style: none;
}

/* Multilevel li */
aside ul li ul, aside p:last-of-type, footer {
	font-style: italic;
	font-size: 0.8em;
	color: #607D8B;
}

aside p, .fullPage {
	color: white;
}


/****************************** End Specials  ******************************/


/****************************** Social Start ******************************/
#social {
	padding-top: 10%;
	text-align: center;
}

/****************************** End Social ******************************/

/****************************** Footer Start ******************************/
footer {
	padding: 10% 0 1% 0;
	text-align: center;
}

footer a, .fullPage a {
	text-decoration: underline;
	color: #607D8B;
}

/****************************** End Footer ******************************/

/****************************** Jobs/About/FAQ Page Start ******************************/
.fullPage {
	padding-left: 1%;
}

.fullPage ul li {
	font-style: italic;
	color: #607D8B;
	margin-left: 5%;
}

.fullPage h3, aside h3 {
	padding: 5% 0 0 3%;
}

.fullPage ul h3 {
	text-align: left;
	padding: 1%;
	font-size: 1em;
}

.fullPage p {
	padding-top: 1%;
	font-weight: 300;
	line-height: 1.4em;
}

.fullPage .menuItem {
	padding: 0;
	display: inline;
	color: #607D8B;
}

h4 {
	color: #D9C066;
	text-align: center;
	letter-spacing: 0;
	padding: 1%;
	font: 300 1.2em 'Roboto Condensed', sans-serif;
}

/****************************** End Jobs/About/FAQ Page ******************************/


/****************************** Media Queries ******************************/

/* Two columns */
@media (min-width: 600px) {
	body {
		display: flex;
		column-count: 2;
		flex-flow: column nowrap;
	}
	header {
		width: auto 0;
		height: 100vh;
		padding: 2%;
		flex: 1;
		width: 40%;
		position: fixed;
		border-right: 1px solid #D9C066;
	}
	header img {
		margin-top: 20%;
	}

	/***** Hamburger MENU *****/
	#sm_menu_ham, .sm_menu_outer {
		display: none;
	}
	main, aside, #social, .fullPage, footer {
		width: 58%;
		flex-flow: column nowrap;
		margin-left: 42%;
	}
	.menuItem p {
		font-size: 1em;
	}
	.menuItem {
		flex: 50%;
		max-width: 50%;
	}
	.fb-page, .fb-page span, .fb-page span iframe[style] {
		width: 100% !important;
	}
	#hours::before, #hours::after {
		visibility: hidden;
	}
	nav::before, nav::after {
		content: "";
		display: block;
		margin: 0 auto;
		width: 80%;
		padding: 1%;
		border-bottom: 0.25px solid white;
	}
	#contactinfo {
		padding: 10% 0 10% 0;
		font: 300 1.2em 'Roboto Condensed', sans-serif;
	}
	#hours :not(.sideNote) {
		color: #FFF200;
		font: 300 1.25em 'Roboto Condensed', sans-serif;
	}
	.sideNote {
		padding: 10% 0 5% 0;
		font-size: 0.875em;
	}
}

@media (min-width: 800px) {
	header img {
		margin-top: 10%;
	}
	#hours p:first-of-type {
		padding-top: 2%;
	}
	#contactinfo :first-of-type {
		font-size: 1.35em;
	}
}


/* Three columns */
@media (min-width: 1000px) {
	body {
		position: relative;
	}
	header {
		width: 30%;
	}
	main {
		height: 100vh;
		margin-left: 31%;
		position: absolute;
		overflow-y: scroll;
		width: 35%;
		border-right: 1px solid #D9C066;;
	}
	#rightColumn {
		height: 100vh;
		margin-left: 67%;
		width: 38%;
		position: absolute;
		overflow-y: scroll;
		text-align: center;
	}
	aside, #social {
		width: 100%;
		margin-left: 0;
		overflow-x: hidden;
	}
	.menuItem p {
		font-size: 0.875em;
	}
	.fullPage, .fullPage footer {
		width: 65%;
		margin-left: 33%;
	}
	footer {
		width: 50%;
		margin-top: 80%;
		height: 10%;
		position: absolute;
	}
}
@media (min-width: 1100px) {
	header {
		width: 27%;
	}
	header img {
		margin-top: 8%;
	}
	h2, .fullPage h3 {
		padding-top: 2%;
	}

	/* for 3 columns on menu
	 .menuItem {
		flex: 30%;
		max-width: 30%;
	} */
	main {
		margin: 0 0% 0 28%;
		width: 40%;
	}
	#rightColumn {
		margin-left: 70%;
		width: 30%;
	}
	.fullPage {
		padding-left: 0;
	}
	footer {
		margin-top: 73%;
	}
}
@media (min-width: 1200px) {
	.menuItem p {
		font-size: 1em;
	}
	footer {
		margin-top: 65%;
	}
}
