* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
	background-color: #16365D;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	width: 95%;
	margin: auto;
	font-family: 'Roboto Condensed', sans-serif;
}

li {
	font: 2em 'Trirong', serif;
	line-height: 1.4;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/*************** Column 1 (business info) ***************/
header {
	width: auto;
	height: 300vh;
}

header img {
	margin-top: 25%;
	max-width: 500px;
}
